.header {
  position: fixed;
  width: 100%;
  height: inherit;
  font-size: 1rem;
  position: relative;
  background-color: #faf9f8;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(5rem, 0.5rem + 10vh, 14rem);
  }

  &__logo {
    padding-left: 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  &__menu {
    padding: 1rem 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #faf9f8;
    width: 100%;
    text-align: center;

    ul {
      list-style-type: none;

      li {
        margin-bottom: 1.25rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #000;
          font-weight: 400;
        }
      }
    }

    &--open {
      display: flex;
      z-index: 10000;
    }
  }

  &__burger-wrapper {
    display: block;
    cursor: pointer;
  }
}

/* Tablet */
@media (min-width: 46em) {
  .header {
    padding: 0;

    .container {
      align-items: flex-end;
    }

    &__logo {
      padding-left: 0;
    }

    &__menu {
      padding: 0;
      display: flex;
      flex-direction: row;
      width: auto;
      position: static;

      ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        li {
          margin-bottom: 0;

          &:hover {
            opacity: 50%;
          }
        }
      }
    }

    &__burger-wrapper {
      display: none;
    }
  }
}

/* Desktop */
@media (min-width: 64em) {
  .header {
    font-size: 1rem;
  }
}

/* Extra large */
@media (min-width: 87.5em) {
  .header {
    font-size: clamp(1rem, 0.5rem + 1vw, 2.25rem);

    &__logo {
      font-size: clamp(1rem, 0.5rem + 1vw, 2.25rem);
    }
  }
}
