@use "../../styles/variables";

.text-field {
  border: 5px solid variables.$primary-color;
  border-radius: 10px;
  width: 100%;
  height: 81px;
  background-color: transparent;

  &--big {
    height: 130px;
  }

  &::placeholder {
    font-size: 0.9375rem;
    font-family: variables.$font-main;
    color: #000;
  }

  &:focus {
    outline: none;
  }
}

/* Tablet */
@media (min-width: 37.5em) {
  .text-field {
    height: clamp(63px, 8vw, 81px);

    &--big {
      height: clamp(101px, 14vw, 130px);
    }

    &::placeholder {
      font-size: clamp(1.25rem, 0.5rem + 2vw, 2.25rem);
    }
  }
}

/* Desktop */
@media (min-width: 64em) {
  .text-field {
    height: clamp(81px, 9vw, 121px);

    &--big {
      height: clamp(130px, 14vw, 194px);
    }
  }
}

/* Extra large */
@media (min-width: 87.5em) {
}
