@use "../../styles/variables";

.about {
  text-align: center;
  max-width: 283px;
  margin: 2rem auto;

  &__image-wrapper {
    margin: 2rem auto;
    width: 198px;
    height: 250px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    max-width: 561px;
  }

  &__button {
    margin-top: 2rem;
    width: 149px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

/* Tablet */
@media (min-width: 37.5em) {
  .about {
    text-align: left;
    margin: 0;
    max-width: none;
    padding-top: 4.25rem;
    padding-bottom: 2.875rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    &__image-wrapper {
      margin: 0;
      flex-shrink: 0;
      width: 251px;
      height: 508px;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &__content {
      max-width: 561px;
    }

    &__button {
      margin-top: 2rem;
      width: 201px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }
}

/* Desktop */
@media (min-width: 64em) {
  .about {
    align-items: flex-start;
    padding-top: 6.5rem;
    padding-bottom: 8rem;
    gap: 5.8rem;

    &__image-wrapper {
      width: 316px;
      height: 626px;
    }

    &__content {
      max-width: 724px;
    }

    &__button {
      margin-top: 3rem;
    }
  }
}

/* Extra large */
@media (min-width: 87.5em) {
  .about {
    margin: 8rem;
    max-width: 1700px;
    justify-content: space-between;
    gap: 8rem;

    &__image-wrapper {
      flex-shrink: 0;
      width: 474px;
      height: 938px;
    }

    &__content {
      max-width: 1074px;
    }

    &__button {
      margin-top: 4rem;
    }

    &__text {
      font-size: 36px;
    }
  }
}
