@use "../../styles/variables";

.heading {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;

  &--normal {
    font-weight: 400;
    margin: 1.5rem;
  }

  &--bold {
    font-weight: 700;
    text-align: left;
  }
}

/* Tablet */
@media (min-width: 37.5em) {
  .heading {
    max-width: 311px;
    font-size: 32px;

    &--normal {
      margin: 0 auto;
      margin-top: 3.75rem;
    }
  }
}

/* Desktop */
@media (min-width: 64em) {
  .heading {
    max-width: 100%;

    &--bold {
      margin-bottom: 2rem;
    }
  }
}

/* Extra large */
@media (min-width: 87.5em) {
  .heading {
    font-size: 48px;

    &--normal {
      margin-top: 5rem;
    }
  }
}
