@use "../../styles/variables";

.heading {
  text-align: center;
  font-size: clamp(1.25rem, 0.5rem + 3vw, 2rem);
  letter-spacing: 0.15em;

  &--normal {
    font-weight: 400;
    margin-top: clamp(1.5rem, 5vw, 3.75rem);
  }

  &--bold {
    font-weight: 700;
    text-align: center;
    margin-bottom: clamp(1rem, 3vw, 1.75rem);
  }
}

/* Tablet */
@media (min-width: 37.5em) {
  .heading {
    max-width: 311px;
    font-size: clamp(2rem, 0.5rem + 3vw, 3rem);

    &--normal {
      margin: 0 auto;
      margin-top: clamp(3.75rem, 5vw, 5rem);
    }

    &--bold {
      text-align: left;
      margin-bottom: clamp(1.75rem, 3vw, 2rem);
    }
  }
}

/* Desktop */
@media (min-width: 64em) {
  .heading {
    max-width: 100%;
  }
}

/* Extra large */
@media (min-width: 87.5em) {
}
